<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @feedback.body %>
</p>

<p>
  <strong>Is positive:</strong>
  <%= @feedback.is_positive %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user %>
</p>

<p>
  <strong>Item:</strong>
  <%= @feedback.item %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
